<section id="team" class="gray oper" xmlns="http://www.w3.org/1999/xhtml"
         xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <hr/>
        <div class="row">
            <div id="container" class="container team-detail" th:each="operation : ${operations}"
                 th:with="patient=${operation.patient}">
                <div class="item col-sm-4 col-lg-4 col-xs-12">
                    <div class="team-member">
                        <div class="member-details">
                            <h6>Operation</h6>
                            <h4 th:text="${operation.description}"></h4>
                            <p><a data-toggle="modal"
                                  th:attr="data-target='#patientModal' + ${patient.id}"><strong
                                    th:text="${patient.firstName} + ' ' + ${patient.surname}"></strong></a>
                            </p>
                            <p th:text="'Diagnosis: ' + ${patient.diagnosis}"></p>
                            <p th:text="'Appointed date: ' + ${operation.appointedDate}"></p>
                            <form action="cancelPrescription" method="post">
                                <input name="prescriptionId" type="hidden" th:value="${operation.id}"/>
                                <div class="button-container">
                                    <button type="submit" class="button"><span>Cancel</span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal fade" th:id="patientModal + ${patient.id}" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="col-md-6 no-padding col-xs-2">
                                            <img th:src="${patient.avatar}" class="img-responsive"
                                                 th:alt="${patient.firstName} + ' ' + ${patient.surname}"/>
                                        </div>
                                        <div class="col-md-6 col-xs-10 team-pop-info">
                                            <button data-dismiss="modal" class="m-close"></button>
                                            <h4 th:text="${patient.firstName} + ' ' + ${patient.surname}"></h4>
                                            <ul class="tp-meta">
                                                <li><span>Diagnosis</span><em th:text="${patient.diagnosis}"></em></li>
                                                <li><span>Enter Date</span><em th:text="${patient.admissionDate}"></em></li>
                                                <li><span>Discharge Date</span>
                                                    <em th:if="${patient.dischargeDate == null}">—</em>
                                                    <em th:if="${patient.dischargeDate != null}"
                                                        th:text="${patient.dischargeDate}"></em>
                                                </li>
                                                <li><span>Phone Number</span><em th:text="${patient.phone}"></em></li>
                                                <li><span>Address</span><em th:text="${patient.address}"></em></li>
                                                <li>
                                                    <span>Prescriptions</span>
                                                    <form action="patientPrescriptions" method="post">
                                                        <input name="patientId" type="hidden" th:value="${patient.id}"/>
                                                        <div class="button-container small-cont">
                                                            <button type="submit" class="button small-butt">
                                                                <span>View</span>
                                                            </button>
                                                        </div>
                                                    </form>
                                                    <form action="addPatientPrescription" method="post">
                                                        <input name="patientId" type="hidden" th:value="${patient.id}"/>
                                                        <div class="button-container small-cont">
                                                            <button type="submit" class="button small-butt">
                                                                <span>Add</span>
                                                            </button>
                                                        </div>
                                                    </form>
                                                </li>
                                                <form action="discharge" method="post">
                                                    <input name="patientId" type="hidden" th:value="${patient.id}"/>
                                                    <div class="button-container">
                                                        <button type="submit" class="button green-butt">
                                                            <span>Discharge</span>
                                                        </button>
                                                    </div>
                                                </form>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
    </div>
</section>